.form-label{
    font-family: BookAntiqua;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    margin-top: 1rem;
}

h2{
    font-family: Calligraffitti;;
    font-size: clamp(2rem, 2vw, 2.5rem);
    margin-block: 1rem;
    font-weight: 600;
}

.btn-submit{
    margin-block: 1rem;
}
