<footer aria-label="pied-de-page">
	<div class="bottom">
		<div class="contact">
			<p>Pour nous contacter :</p>
		</div>
		<nav aria-label="menu des moyens de contact" class="socials">
			<a href="{{url('contact.index')}}" class="socials-link">Formulaire de contact</a>
			<a href="#" class="socials-link">
				<img src="{{ asset('img/linkedin.png') }}" alt="lien Linkedin">
			</a>
			<a href="#" class="socials-link">
				<img src="{{ asset('img/Instagram_icon.png') }}" alt="lien Instagram">
			</a>
		</nav>
		<div class="cgs-link">
			<a href="documents/cgs-v1.pdf" aria-label="accéder aux conditions générales">CGS</a>
		</div>
	</div>
</footer>
