{% for notice in app.flashes('notice')%}
	<p class="alert alert-success">
		{{ notice }}
	</p>
{% endfor %}

{% for danger in app.flashes('danger')%}
	<p class="alert alert-danger">
		{{ danger }}
	</p>
{% endfor %}
