{% extends "base.html.twig" %}

{% block body%}
	<main aria-label="contenu principal" id="main" class="my-auto">
		<div class="container-fluid px-md-4 row-gap-5">
			<div class="row d-flex flex-md-row flex-sm-column align-items-center column-gap-3 py-3">
				<div class="col-md-2 col-sm-10">
					<img src="{{ asset('img/juridique.png') }}" class="img-fluid images" alt="image d'illustration du juridique">
				</div>
				<div class="col-md-8 offset-md-1 col-sm-12 align-items-center section">
					<p class="paragraph h4 py-2">
						La protection juridique de votre manuscrit est un élément fondamental et nous le comprenons. Afin de sécuriser cette partie nous avons deux moyens complémentaires :
					</p>
				</div>
			</div>
			<div class="row d-flex flex-md-row-reverse flex-sm-column align-items-center column-gap-3 py-3">
				<div class="col-md-2 offset-md-1 col-sm-10">
					<img src="{{ asset('img/propriete-intellectuelle.png') }}" class="img-fluid images" alt="image d'illustration de la propriété intellectuelle">
				</div>
				<div class="col-md-8 col-sm-12 section">
					<p class="paragraph align-self-center h4 py-2">
						Tout d'abord lors de la création de son profil, chaque Auteur - Correcteur s'engage à respecter les CGS, consultables
						<a href="documents/cgs-v1.pdf" class="h4 simple-link">ici</a>, et surtout la propriété intellectuelle de l'Auteur concernant son manuscrit et ses idées originales.
					</p>
				</div>
			</div>
			<div class="row d-flex flex-md-row flex-sm-column column-gap-3 py-3">
				<div class="col-md-2 col-sm-10">
					<img src="{{ asset('img/confidential-agreement.png') }}" class="img-fluid images" alt="image d'illustration de l'engagement de confidentialité">
				</div>
				<div class="col-md-8 offset-md-1 col-sm-12 align-items-center section">
					<p class="h4 py-2 paragraph">
						De plus, avant de transmettre votre manuscrit à un Auteur - Correcteur pour correction, nous vous demandons de lui faire signer un engagement de confidentialité et de respect de la propriété intellectuelle du manuscrit et de vos idées originales.
					</p>
					<p class="h4 py-2 paragraph">
						Le modèle d'engagement a été élaboré avec notre équipe juridique dans le but d'éviter des délits de plagiat ou vol de manuscrit et d'idées originales. Téléchargez-le ici : en version
						<a href="documents/accord-confidentialite.docx" class="h4 simple-link">Word</a>
						ou en version
						<a href="documents/accord-confidentialite.pdf" class="h4 simple-link">PDF</a>.
					</p>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
