<h2>Réinitialisation de votre Mot de Passe sur le site Correct-Au-Teur</h2>
<p>Bonjour {{ user.firstname }}</p>
<p>Pour réinitialiser votre Mot de Passe,  veuillez cliquer sur le lien ci-dessous :</p>
<p><a href="{{ url|raw }}">Lien</a></p>
<p>Ce lien expirera dans 3 heures.</p>
<p>Merci</p>
<p>L'équipe <strong class="c-a-t h3">Correct-Au-Teur</strong></p>