<h1>Réinitialisation de votre Mot de Passe sur le site Correct-Au-Teur</h1>
<p>Bonjour {{ user.email }}</p>
{# mettre le prénom quand profil complet #}
<p>Pour réinitialiser votre Mot de Passe,  veuillez cliquer sur le lien ci-dessous.</p>
<p><a href="{{ url|raw }}">Lien</a></p>
<p>Ce lien expirera dans 3 heures</p>
<p>Merci</p>
<p>L'équipe Correct-Au-Teur</p>