<h2>Activation de votre profil sur le site Correct-Au-Teur</h2>
<p>Bonjour {{ user.firstname }}</p>
<p>Pour activer votre profil, veuillez cliquer sur le lien ci-dessous :</p>
<p><a href="{{ absolute_url(path('registration.verify-user', {token: token})) }}">Lien</a></p>
<p>Ce lien expirera dans 3 heures.</p>
<p>Merci</p>
<p>L'équipe <strong class="c-a-t h3">Correct-Au-Teur</strong></p>